# Flask environment
FLASK_ENV=development
FLASK_DEBUG=1

# Database
DATABASE_URL=postgresql://postgres:Siul22bs@db.kfrnnssqykmoxsuskagx.supabase.co:5432/postgres

# Security
SECRET_KEY=h@vv+mtG:"wE%iQ[X(Q?JLdzYzu({P-H

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
